.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Adjust the layout to be vertical */
  }
  
  .login-header {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    display: block;
    margin: 0 auto;
  }
  